whatsapp_faq/workflow.json
{
  "name": "Retell Voice FAQ",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-192, -144],
      "id": "1de6a9c9-7dad-4082-b6fc-1089cfd6e209",
      "name": "WhatsApp Trigger",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "YOUR_WHATSAPP_TRIGGER_CREDENTIAL_ID",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "consultar_faq",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Consulta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [32, -144],
      "id": "8d06c8fe-3273-4a8a-92f8-844d1dcbb9d3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// teléfono\nconst telefono = $('WhatsApp Trigger').first().json.messages[0].from;\n\n// mensaje usuario limpio\nlet mensajeUsuario = $('WhatsApp Trigger').first().json.messages[0].text.body.toLowerCase();\n\n// palabras basura\nconst stopWords = [\n  \"el\",\"la\",\"los\",\"las\",\"un\",\"una\",\"unos\",\"unas\",\n  \"de\",\"del\",\"que\",\"quiero\",\"necesito\",\"por\",\"favor\"\n];\n\nfunction limpiar(texto){\n  return texto\n    .normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\") // quitar acentos\n    .replace(/[.,!?;:()\"]/g, \"\") // quitar puntuación\n    .split(\" \")\n    .filter(p => !stopWords.includes(p) && p.trim() !== \"\")\n    .join(\" \");\n}\n\nmensajeUsuario = limpiar(mensajeUsuario);\n\n// filas\nconst filas = $input.all();\n\nlet mejorRespuesta = null;\nlet mejorImagenes = null;\nlet mejorScore = 0;\n\nconst palabrasMensaje = new Set(mensajeUsuario.split(\" \"));\n\n// comparar\nfor (const fila of filas) {\n  let problema = (fila.json.Problemas || \"\").toLowerCase();\n  problema = limpiar(problema);\n\n  const palabrasProblema = problema.split(\" \");\n\n  let score = palabrasProblema.filter(p => palabrasMensaje.has(p)).length;\n\n  if(score > mejorScore){\n    mejorScore = score;\n    mejorRespuesta = fila.json.Soluciones;\n    mejorImagenes = fila.json.Imágenes;\n  }\n}\n\n// Construir objeto dinámico\nlet resultado = {\n  telefono,\n  mensajeUsuario,\n  respuestaFAQ: mejorScore > 0 ? mejorRespuesta : null\n};\n\n// Separar imágenes en imagen1, imagen2...\nif(mejorScore > 0 && mejorImagenes){\n  const listaImagenes = mejorImagenes.replace(/\\n/g,' ').split(/[\\s,]+/).filter(Boolean);\n  listaImagenes.forEach((url, index) => {\n    resultado[`imagen${index + 1}`] = url;\n  });\n}\n\n// devolver estructura final\nreturn [{ json: resultado }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [272, -144],
      "id": "5c311108-ab89-4c70-8013-49cf343e5fd8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=mensajeUsuario: {{ $json.mensajeUsuario }}\nrespuestaFAQ: {{ $json.respuestaFAQ }}\ntelefono: {{ $json.telefono }}",
        "options": {
          "systemMessage": "=mensajeUsuario: {{ $json.mensajeUsuario }}\nrespuestaFAQ: {{ $json.respuestaFAQ }}\nnumeroUsuario: {{ $json.telefono }}\n\n## ROL\n\nEres Asistente y respondes por WhatsApp.\n\nTu prioridad es responder con formato claro, limpio y fácil de leer en móvil.\n\n---\n\n## IDIOMA\n\nDetecta idioma según prefijo:\n\n33 → francés\n\n351 → portugués\n\n34 → español\n\nTEN EN CUENTA QUE EL NÚMERO DE HELPDESK ES DIFERENTE EN CADA IDIOMA\n\nHelpdesk Español -> HELPDESK_ES\nHelpdesk Frances -> HELPDESK_FR\nHelpdesk Portuges -> HELPDESK_PT\n---\n\n## LÓGICA\n\n### CASO 1 — SALUDO\n\nSi es saludo y respuestaFAQ está vacía:\n\nResponde SOLO saludo breve.\n\nEjemplo:\n\nHola 😊 ¿En qué puedo ayudarte?\n\n---\n\n### CASO 2 — EXISTE respuestaFAQ\n\nUsa respuestaFAQ como BASE pero:\n\nFORMATEA el contenido así:\n\n• añade una frase corta al inicio\n\n• divide en pasos si aplica\n\n• usa saltos de línea\n\n• usa emojis numerados\n\nFormato obligatorio:\n\n😊 Te ayudo con eso\n\n{{ $json.respuestaFAQ }}\n\n¿Necesitas algo más?\n\nNO inventes contenido.\n\nNO cambies el significado.\n\nSolo mejora formato visual.\n\n---\n\n### CASO 3 — NO EXISTE respuestaFAQ\n\nResponde:\n\nES:\n\nLo siento 😔  \nNo tengo información sobre eso.\n\nContacta con Helpdesk 👨‍💻\n\n---\n\n## FORMATO OBLIGATORIO\n\nWhatsApp friendly:\n\nUsa:\n\nsaltos de línea\n\nemojis\n\nmáximo 4 emojis\n\nNO usar:\n\nasteriscos\n\nmarkdown\n\nnegritas\n\n---\n\nTRADUCE TODO automáticamente al idioma correcto."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [512, -144],
      "id": "76bab001-38f2-47fc-803c-0fe16bf7f972",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [512, 16],
      "id": "f9f72efb-9011-4d94-abff-82c0d9e24e60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [864, -144],
      "id": "426eac98-1d95-4d35-af8e-79a15e548d29",
      "name": "Send message",
      "webhookId": "YOUR_SEND_WEBHOOK_ID",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "messageType": "image",
        "mediaLink": "={{ $('Code in JavaScript').item.json.imagen1 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1040, -144],
      "id": "79281ed3-0268-48f9-8993-87b04bd3df09",
      "name": "Send message1",
      "webhookId": "YOUR_SEND_WEBHOOK_ID",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "YOUR_WHATSAPP_PHONE_NUMBER_ID",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').first().json.messages[0].from }}",
        "messageType": "image",
        "mediaLink": "={{ $('Code in JavaScript').item.json.imagen2 }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1216, -144],
      "id": "1a89d788-9e2d-4949-9a0a-89a2930dee3a",
      "name": "Send message2",
      "webhookId": "YOUR_SEND_WEBHOOK_ID",
      "credentials": {
        "whatsAppApi": {
          "id": "YOUR_WHATSAPP_CREDENTIAL_ID",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [[{"node": "Send message", "type": "main", "index": 0}]]
    },
    "WhatsApp Trigger": {
      "main": [[{"node": "Get row(s) in sheet", "type": "main", "index": 0}]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]
    },
    "Get row(s) in sheet": {
      "main": [[{"node": "Code in JavaScript", "type": "main", "index": 0}]]
    },
    "Code in JavaScript": {
      "main": [[{"node": "AI Agent", "type": "main", "index": 0}]]
    },
    "Send message": {
      "main": [[{"node": "Send message1", "type": "main", "index": 0}]]
    },
    "Send message1": {
      "main": [[{"node": "Send message2", "type": "main", "index": 0}]]
    },
    "Send message2": {
      "main": [[]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}
